.projects {
    min-height: 100vh;
    padding: 10vh 50px;
}

.projects h2 {
    text-align: center;
    margin-top: 2vh;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.projectItem {
    width: 100%;
    max-width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid #D8D8D8;
    transition: box-shadow 0.5s;
}

.projectItem:hover {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}
 
.projectHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.projectLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s;
}

.projectLinks:hover {
    opacity: 1;
}

.projectLinks a img {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.projectItem h3 {
    font-weight: 400;
    text-align: center;
}

.projectHeader, .projectItem h3 {
    margin-bottom: 15px;
}

.technologies {
    display: flex;
    justify-content: center;
}

.technology {
    padding: 5px 10px;
    border-radius: 20px;
}

.divider {
    width: 100%;
    transform: rotateX(180deg) rotateY(180deg);    
    position: relative;
    bottom: -6px;
    z-index: -1;
}