:root {
    --main-color: #800000;
    --background-color: #F2F2F2;
    --accent-color: #900404;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color); 
}
   
::-webkit-scrollbar-thumb {
    background: #5c5c5c; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #474747; 
}